/.project
/.gitignore
/.buildpath
/.phpdoc
/.phpunit.cache
/.scannerwork
/.settings
/.vscode

/_*

/temp/*
!/temp/.gitkeep
!/temp/twig/
/temp/twig/*
!/temp/twig/.gitkeep

node_modules
vendor/
dist/
*.zip
bom.json
.env
