<p><strong>You have registered a %app_name% user account.</strong></p>
<p>Please use the following link to verify your account:<br>
<a href="%app_url%/index.php?action=verify&username=%username%&verify=%verifycode%">%app_url%/index.php?action=verify&username=%username%&verify=%verifycode%</a></p>
<p>You submitted these information:<br>
Username: %username%<br>
Last Name: %lastname%<br>
First Name: %firstname%</p>
<p>Depending on the website policy, the administrator might have to approve your account after you verified it.</p>
