<p><strong>Es wurde eine Anfrage zum Zur&uuml;cksetzen deines Passworts von %app_name% versendet:</strong></p>
<p>
   Benutzername: %username%<br>
   Vorname: %firstname%<br>
   Nachname: %lastname%
</p>
<p>
   Wenn diese Anfrage f&auml;lschlich verschickt wurde, kannst du diese Mail ignorieren. Bisher wurde nichts ge&auml;ndert.
</p>
<p>
   Ansonsten folge diesem Link, um dein Passwort zur&uuml;ckzusetzen. Der Link ist 24 Stunden g&uuml;ltig:<br>
   <a href="%app_url%/index.php?action=passwordreset&token=%token%">%app_url%/index.php?action=passwordreset&token=%token%</a>
</p>