<p><strong>Du hast ein Benutzerkonto bei %app_name% registriert.</strong></p>
<p>Bitte benutze den folgenden Link, um das Konto zu verifizieren:<br>
<a href="%app_url%/index.php?action=verify&username=%username%&verify=%verifycode%">%app_url%/index.php?action=verify&username=%username%&verify=%verifycode%</a></p>
<p>Diese Informationen hast du angegeben:<br>
Benutzername: %username%<br>
Nachname: %lastname%<br>
Vorname: %firstname%</p>
<p>Abh&auml;ngig von den Registrierungsregeln kann es sein, dass der Administrator nach der Verifizierung dein Konto noch freischalten muss.</p>
