{% if userData.defaultMenu == 'sidebar' %}
  {# Sidebar mode #}
  <script>
    document.body.style.paddingTop = '0';
  </script>
  {% include 'sidebar.twig' ignore missing %}
  <main id="mainSidebar" class="p-3">
  {% else %}
    {# Navbar mode #}
    <main id="mainNavbar" class="ms-0 pt-4 px-3">
      {% include 'navbar.twig' ignore missing %}
    {% endif %}

    {% if appStatus.maintenance and userData.roleid == '1' %}
      <!-- Under Maintenance -->
      <div class="container content">
        <div class="col-lg-12">
          {% set alertData = {
        'type': 'danger',
        'title': LANG.alert_alert_title,
        'subject': LANG.alert_maintenance_subject,
        'text': LANG.alert_maintenance_text,
        'help': LANG.alert_maintenance_help
      } %}
          {{ createAlertBox(alertData)|raw }}
        </div>
      </div>
    {% endif %}
