{% extends "layout.twig" %}

{% block content %}
  <!-- ====================================================================
  view.verify
  -->
  <div class="container content">
    <div class="col-lg-12">
      {% if showAlert and showAlerts != "none" and (showAlerts == "all" or (showAlerts == "warnings" and (alertData.type == "warning" or alertData.type == "danger"))) %}
        {{ createAlertBox(alertData)|raw }}
      {% endif %}
    </div>
  </div>
{% endblock %}
