/* open-sans-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/Poppins-Regular.ttf') format('truetype');
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../fonts/Poppins-Bold.ttf') format('truetype');
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Poppins';
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: local(''),
  url('../fonts/Poppins-Italic.ttf') format('truetype');
}

/* open-sans-700italic - latin */
@font-face {
  font-family: 'Poppins';
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  src: local(''),
  url('../fonts/Poppins-BoldItalic.ttf') format('truetype');
}

body {
  font-family: "Poppins", sans-serif !important;
}
