<p><strong>Vous avez enregistré un compte utilisateur %app_name%.</strong></p>
<p>Veuillez utiliser le lien suivant pour vérifier votre compte :<br>
<a href="%app_url%/index.php?action=verify&username=%username%&verify=%verifycode%">%app_url%/index.php?action=verify&username=%username%&verify=%verifycode%</a></p>
<p>Vous avez soumis ces informations :<br>
Nom d'utilisateur : %username%<br>
Nom de famille : %lastname%<br>
Prénom : %firstname%</p>
<p>Selon la politique du site, l'administrateur pourrait avoir à approuver votre compte après que vous l'ayez vérifié.</p>
