<p><strong>Une demande de réinitialisation de mot de passe pour votre compte a été soumise par %app_name% :</strong></p>
<p>
   Nom d'utilisateur : %username%<br>
   Prénom : %firstname%<br>
   Nom de famille : %lastname%
</p>
<p>
   Si cette demande n'a pas été envoyée par vous, ignorez cet e-mail. Rien n'a encore été modifié.
</p>
<p>
   Sinon, suivez ce lien pour réinitialiser votre mot de passe. Le lien est valable 24 heures :<br>
   <a href="%app_url%/index.php?action=passwordreset&token=%token%">%app_url%/index.php?action=passwordreset&token=%token%</a>
</p>
