<p>Les demandes d'absence suivantes nécessitent votre approbation dans %app_name% :</p>
<p>Utilisateur : %fullname% (%username%)</p>
<p>Demandes d'absence nécessitant une approbation :</p>
<p>%absences%</p>
<p>
   Les absences ont été ajoutées au calendrier de l'utilisateur, cependant, une note de jour a également été ajoutée indiquant que l'absence n'est pas encore approuvée.
</p>
<p>
   Veuillez vous connecter à %app_name% et supprimer l'absence si vous ne l'approuvez pas, sinon, supprimez la note de jour pour la rendre officielle.
</p>
