<p>Die folgenden Abwesenheitsanfragen erfordern deine Best&auml;tigung in %app_name%:</p>
<p>Benutzer: %fullname% (%username%)</p>
<p>Angefragte Abwesenheiten:</p>
<p>%absences%</p>
<p>
   Die Abwesenheiten wurden in den Benutzerkalender eingetragen, jedoch auch eine Tagesnotiz, dass sie noch nicht best&auml;tigt sind.
</p>
<p>
   Bitte logge dich in %app_name% ein und entferne die Abwesenheiten, wenn du sie nicht best&auml;tigen kannst, ansonsten entferne die Tagesnotizen um sie zu best&auml;tigen.
</p> 