<p>Die folGende Abwesenheitsanfrage erfordert deine Best&auml;tigung in %app_name%:</p>
<p>
   Benutzer: %fullname% (%username%)<br>
   <br>   
   Angefragte Abwesenheit: %absence%
   <br>   
   Angefragtes datum: %date%
</p>
<p>
   Die Abwesenheit wurde in den Benutzerkalender eingetragen, jedoch auch eine Tagesnotiz, dass sie noch nicht best&auml;tigt ist.
</p>
<p>
   Bitte logge dich in %app_name% ein und entferne die Abwesenheit, wenn du sie nicht best&auml;tigen kannst, ansonsten entferne die Tagesnotiz um sie zu best&auml;tigen.
</p> 