<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>TeamCal Neo Notification</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <meta name="color-scheme" content="light">
  <meta name="supported-color-schemes" content="light">
  <style>
    :root {
      color-scheme: light;
      supported-color-schemes: light;
    }
  </style>
</head>

<body style="margin: 0; padding: 0; min-width: 100%; background-color: #fafafa;">
  <div class="container" style="width: 100%; table-layout: fixed; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background-color: #fafafa;">
    <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#fafafa" style="background-color: #fafafa;">
      <tbody>
        <tr>
          <td>
            <table border="0" width="700" cellspacing="0" cellpadding="0" align="center">
              <tbody>
                <tr>
                  <td>
                    <table class="content" style="max-width: 700px; width: 100%; background-color: #ffffff;" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff">
                      <tbody>
                        <tr>
                          <td class="header" style="padding: 40px 30px 20px 30px; background-color: #0060b0;" bgcolor="#0060b0">
                            <table style="width: 70px !important;" border="0" width="70" cellspacing="0" cellpadding="0" align="left">
                              <tbody>
                                <tr>
                                  <td style="padding: 0 20px 20px 0;" height="72"><img class="fix" style="height: auto;" src="%site_url%public/images/icons/tcn-icon-72.png" alt="" width="72" height="72" border="0" /></td>
                                </tr>
                              </tbody>
                            </table>
                            <table style="width: 425px !important;" border="0" width="425" cellspacing="0" cellpadding="0" align="left">
                              <tbody>
                                <tr>
                                  <td>
                                    <table class="col425" style="max-width: 525px; width: 100%;" border="0" cellspacing="0" cellpadding="0" align="left">
                                      <tbody>
                                        <tr>
                                          <td height="70">
                                            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                              <tbody>
                                                <tr>
                                                  <td class="subhead" style="color: #ffffff; font-family: sans-serif; font-size: 15px; letter-spacing: 5px; padding: 0 0 0 3px;">%app_name%</td>
                                                </tr>
                                                <tr>
                                                  <td class="h1" style="color: #ffffff; font-family: sans-serif; font-size: 28px; font-weight: bold; line-height: 38px; padding: 5px 0 0 0;">%subject%</td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td class="innerpadding borderbottom" style="border-bottom: 1px solid #f2eeed; padding: 30px 30px 30px 30px; background-color: #ffffff;" bgcolor="#ffffff">
                            <table border="0" width="100%" cellspacing="0" cellpadding="0" style="background-color: #ffffff;" bgcolor="#ffffff">
                              <tbody>
                                <tr>
                                  <td class="h2" style="color: #153643; font-family: sans-serif; font-size: 20px; font-weight: bold; line-height: 28px; padding: 0 0 15px 0; background-color: #ffffff;" bgcolor="#ffffff">%intro%</td>
                                </tr>
                                <tr>
                                  <td class="bodycopy" style="color: #153643; font-family: sans-serif; font-size: 16px; line-height: 22px; background-color: #ffffff;" bgcolor="#ffffff">
                                    %body%
                                    <p style="text-align: center;">___</p>
                                    %outro%
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="footer" style="padding: 20px 30px 15px 30px; background-color: #44525f;" bgcolor="#44525f">
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td class="footercopy" style="color: #ffffff; font-family: sans-serif; font-size: 12px;" align="center">%footer%</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>