<p><strong>Usted ha registrado una cuenta de usuario en %app_name%.</strong></p>
<p>Utilice el siguiente enlace para verificar su cuenta:<br>
<a href="%app_url%/index.php?action=verify&username=%username%&verify=%verifycode%">%app_url%/index.php?action=verify&username=%username%&verify=%verifycode%</a></p>
<p>Usted envió esta información:<br>
Nombre de usuario: %username%<br>
Apellido: %lastname%<br>
Nombre: %firstname%</p>
<p>Dependiendo de la política del sitio web, el administrador podría tener que aprobar su cuenta después de que usted la verifique.</p>
