<p><strong>Se ha enviado una solicitud de restablecimiento de contraseña para su cuenta desde %app_name%:</strong></p>
<p>
   Nombre de usuario: %username%<br>
   Nombre: %firstname%<br>
   Apellido: %lastname%
</p>
<p>
   Si esta solicitud no fue enviada por usted, ignore este correo electrónico. No se ha cambiado nada todavía.
</p>
<p>
   De lo contrario, siga este enlace para restablecer su contraseña. El enlace es válido durante 24 horas:<br>
   <a href="%app_url%/index.php?action=passwordreset&token=%token%">%app_url%/index.php?action=passwordreset&token=%token%</a>
</p>
