<p>Las siguientes solicitudes de ausencia necesitan su aprobación en %app_name%:</p>
<p>Usuario: %fullname% (%username%)</p>
<p>Solicitudes de ausencia que requieren aprobación:</p>
<p>%absences%</p>
<p>
   Las ausencias se han añadido al calendario del usuario; sin embargo, también se ha añadido una nota diaria indicando que la ausencia aún no ha sido aprobada.
</p>
<p>
   Inicie sesión en %app_name% y elimine la ausencia si no la aprueba, de lo contrario, elimine la nota diaria para hacerla oficial.
</p>
