/* roboto-mono - regular */
@font-face {
  font-family: 'RobotoMono';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/RobotoMono-VariableFont_wght.ttf') format('ttf')
}

/* roboto-mono - italic */
@font-face {
  font-family: 'RobotoMono';
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: local(''),
  url('../fonts/RobotoMono-Italic-VariableFont_wght.ttf') format('ttf');
}

body {
  font-family: "RobotoMono", sans-serif !important;
}
